In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## March 2021 Data

In [2]:
citibike_mar_21_df = pd.read_csv("data/202103-citibike-tripdata.csv", low_memory=False)
pd.set_option('display.max_columns', None)

In [3]:
citibike_mar_21_df.sample(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
273795,2928,2021-03-08 19:06:30.7120,2021-03-08 19:55:19.5580,4362,7 Ave & 22 St,40.658029,-73.989605,536,1 Ave & E 30 St,40.741444,-73.975361,26004,Customer,1970,0
1186621,1713,2021-03-26 18:43:42.3900,2021-03-26 19:12:15.4110,3376,E 65 St & 2 Ave,40.764719,-73.962221,3226,W 82 St & Central Park West,40.782750,-73.971370,49814,Customer,1970,0
732569,347,2021-03-17 20:06:14.8420,2021-03-17 20:12:02.8250,4075,Central Park West & W 85 St,40.784760,-73.969862,3289,W 90 St & Amsterdam Ave,40.790179,-73.972889,40812,Customer,1970,0
224903,581,2021-03-07 13:04:24.1280,2021-03-07 13:14:05.1720,2012,E 27 St & 1 Ave,40.739445,-73.976806,477,W 41 St & 8 Ave,40.756405,-73.990026,36310,Customer,1970,0
1466021,819,2021-03-31 14:41:00.6160,2021-03-31 14:54:39.8780,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,3648,Flushing Ave & Vanderbilt Ave,40.697950,-73.970776,54177,Customer,1970,0
1334188,1459,2021-03-28 23:36:19.6250,2021-03-29 00:00:39.3710,252,MacDougal St & Washington Sq,40.732264,-73.998522,442,W 27 St & 7 Ave,40.746647,-73.993915,47722,Customer,1970,0
291065,455,2021-03-09 00:40:38.5020,2021-03-09 00:48:13.9080,3697,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,469,Broadway & W 53 St,40.763441,-73.982681,44961,Customer,1970,0
395196,3045,2021-03-10 22:59:15.2210,2021-03-10 23:50:00.8770,3584,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,3585,Union St & Bedford Ave,40.669178,-73.955416,41595,Customer,1970,0
297280,185,2021-03-09 11:53:51.9160,2021-03-09 11:56:57.3840,355,Bayard St & Baxter St,40.716021,-73.999744,330,Reade St & Broadway,40.714505,-74.005628,39596,Customer,1970,0
1186184,259,2021-03-26 18:38:53.5340,2021-03-26 18:43:13.0330,311,Norfolk St & Broome St,40.717227,-73.988021,502,Henry St & Grand St,40.714211,-73.981095,42233,Customer,1970,0

In [4]:
citibike_mar_21_df["birth year"].value_counts()

1970    1307676
1990       8605
1991       6935
1992       6838
1993       6382
         ...
1907          2
1901          2
1933          1
1923          1
1899          1
Name: birth year, Length: 87, dtype: int64

In [5]:
citibike_mar_21_df["gender"].value_counts()

0    1306606
1     127940
2      59511
Name: gender, dtype: int64

In [6]:
year_mar_21_df=citibike_mar_21_df.loc[(citibike_mar_21_df['birth year'] !=1970) & (citibike_mar_21_df["gender"] !=0)]
year_mar_21_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
4,1594,2021-03-01 00:00:06.0890,2021-03-01 00:26:40.4410,3123,31 St & Thomson Ave,40.744697,-73.935404,502,Henry St & Grand St,40.714211,-73.981095,48086,Customer,1973,1
11,500,2021-03-01 00:00:17.1170,2021-03-01 00:08:37.1490,3350,W 100 St & Broadway,40.797372,-73.970412,3178,Riverside Dr & W 78 St,40.784145,-73.983625,33679,Subscriber,1988,1
12,236,2021-03-01 00:00:17.7330,2021-03-01 00:04:14.1130,3150,E 85 St & York Ave,40.775369,-73.948034,3156,E 72 St & York Ave,40.766638,-73.953483,25816,Subscriber,1994,1
18,719,2021-03-01 00:00:35.9090,2021-03-01 00:12:35.2640,301,E 2 St & Avenue B,40.722174,-73.983688,368,Carmine St & 6 Ave,40.730386,-74.002150,17387,Subscriber,1981,1
23,639,2021-03-01 00:01:04.4390,2021-03-01 00:11:44.1030,3839,Putnam Ave & Knickerbocker Ave,40.695450,-73.911640,3861,Menahan St & Wyckoff Ave,40.701130,-73.914220,42490,Subscriber,1984,1

In [7]:
year_mar_21_df["trip_in_hours"] = year_mar_21_df["tripduration"] / 60

<ipython-input-7-778fd527603a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_mar_21_df["trip_in_hours"] = year_mar_21_df["tripduration"] / 60

In [8]:
pd.to_datetime(year_mar_21_df['starttime'])
pd.to_datetime(year_mar_21_df['stoptime'])

4         2021-03-01 00:26:40.441
11        2021-03-01 00:08:37.149
12        2021-03-01 00:04:14.113
18        2021-03-01 00:12:35.264
23        2021-03-01 00:11:44.103
                    ...
1493964   2021-04-01 00:02:40.914
1493982   2021-04-01 00:02:59.188
1493991   2021-04-01 00:09:33.489
1494013   2021-04-01 00:09:47.004
1494043   2021-04-01 00:02:25.058
Name: stoptime, Length: 183738, dtype: datetime64[ns]

In [48]:
year_mar_21_df[year_mar_21_df.isna().any(axis=1)]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender, trip_in_hours]
Index: []

In [9]:
sample_mar_21_df=year_mar_21_df.sample(frac=0.05, random_state=1).reset_index()
sample_mar_21_df

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_in_hours
0,1240624,368,2021-03-27 14:37:19.6410,2021-03-27 14:43:28.2690,432,E 7 St & Avenue A,40.726218,-73.983799,3244,University Pl & E 8 St,40.731437,-73.994903,46944,Subscriber,1995,1,6.133333
1,24182,369,2021-03-01 22:03:59.2650,2021-03-01 22:10:08.5410,3137,5 Ave & E 72 St,40.772828,-73.966853,3370,E 78 St & 2 Ave,40.772797,-73.955778,17751,Subscriber,1983,1,6.150000
2,1029306,287,2021-03-23 18:30:26.0280,2021-03-23 18:35:13.3840,3907,Central Ave & Melrose St,40.701120,-73.930390,3838,Bushwick Ave & Harman St,40.693560,-73.925240,50223,Subscriber,1984,2,4.783333
3,939314,281,2021-03-21 22:34:46.3560,2021-03-21 22:39:27.7760,3140,1 Ave & E 78 St,40.771404,-73.953517,3137,5 Ave & E 72 St,40.772828,-73.966853,51228,Subscriber,1991,1,4.683333
4,1064505,99,2021-03-24 09:31:58.4780,2021-03-24 09:33:37.8090,3156,E 72 St & York Ave,40.766638,-73.953483,3156,E 72 St & York Ave,40.766638,-73.953483,46493,Subscriber,1996,2,1.650000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9182,1210233,2071,2021-03-26 22:16:30.2510,2021-03-26 22:51:01.9020,514,12 Ave & W 40 St,40.760875,-74.002777,304,Broadway & Battery Pl,40.704633,-74.013617,50860,Subscriber,1972,2,34.516667
9183,97863,823,2021-03-03 21:43:39.5940,2021-03-03 21:57:22.6330,3690,Park Pl & Church St,40.713342,-74.009355,232,Cadman Plaza E & Tillary St,40.695977,-73.990149,28269,Subscriber,1973,1,13.716667
9184,753421,1542,2021-03-18 03:35:25.5990,2021-03-18 04:01:08.2360,438,St Marks Pl & 1 Ave,40.727791,-73.985649,304,Broadway & Battery Pl,40.704633,-74.013617,47509,Subscriber,1988,1,25.700000
9185,638736,178,2021-03-15 11:30:06.0390,2021-03-15 11:33:04.8640,509,9 Ave & W 22 St,40.745497,-74.001971,494,W 26 St & 8 Ave,40.747348,-73.997236,40727,Subscriber,1962,1,2.966667
9186,1451451,162,2021-03-31 03:23:17.2250,2021-03-31 03:25:59.8270,4068,Fort Washington Ave & W 183 St,40.852252,-73.937854,4061,Fort Washington Ave & W 173 St,40.845220,-73.940493,41583,Subscriber,1983,2,2.700000

In [10]:
sample_mar_21_df.to_csv("output_data/citibike_nyc_df_mar_21.csv")

## March 2020 Data

In [11]:
citibike_mar_20_df = pd.read_csv("data/202003-citibike-tripdata.csv", low_memory=False)
pd.set_option('display.max_columns', None)

In [12]:
citibike_mar_20_df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1
5,2055,2020-03-01 00:00:46.1010,2020-03-01 00:35:01.2880,471,Grand St & Havemeyer St,40.712868,-73.956981,497,E 17 St & Broadway,40.737050,-73.990093,31313,Subscriber,1985,1
6,764,2020-03-01 00:01:04.6650,2020-03-01 00:13:49.0300,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,3579,Sterling Pl & Bedford Ave,40.672695,-73.954131,31216,Subscriber,1980,2
7,1719,2020-03-01 00:01:04.9250,2020-03-01 00:29:44.0140,3809,W 55 St & 6 Ave,40.763189,-73.978434,3372,E 74 St & 1 Ave,40.768974,-73.954823,27715,Subscriber,1968,2
8,441,2020-03-01 00:01:09.3050,2020-03-01 00:08:30.8670,3463,E 16 St & Irving Pl,40.735367,-73.987974,174,E 25 St & 1 Ave,40.738177,-73.977387,42015,Subscriber,1970,1
9,601,2020-03-01 00:01:09.4420,2020-03-01 00:11:11.2240,406,Hicks St & Montague St,40.695128,-73.995951,421,Clermont Ave & Park Ave,40.695734,-73.971297,27592,Subscriber,1985,1

In [13]:
year_mar_20_df=citibike_mar_20_df.loc[(citibike_mar_20_df['birth year'] !=1970) & (citibike_mar_20_df["gender"] !=0)]
year_mar_20_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1

In [14]:
year_mar_20_df["trip_in_hours"] = year_mar_20_df["tripduration"] / 60

<ipython-input-14-8a1e58d21b8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_mar_20_df["trip_in_hours"] = year_mar_20_df["tripduration"] / 60

In [15]:
pd.to_datetime(year_mar_20_df['starttime'])
pd.to_datetime(year_mar_20_df['stoptime'])

0         2020-03-01 00:26:32.986
1         2020-03-01 00:06:46.062
2         2020-03-01 00:10:34.220
3         2020-03-01 00:10:22.339
4         2020-03-01 00:32:26.268
                    ...
1068452   2020-03-31 23:58:23.388
1068453   2020-04-01 00:23:16.411
1068454   2020-04-01 00:03:08.950
1068455   2020-04-01 00:13:15.586
1068456   2020-04-01 00:04:23.888
Name: stoptime, Length: 967653, dtype: datetime64[ns]

In [31]:
sample_mar_20_df.dtypes

index                        int64
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
trip_in_hours              float64
dtype: object

In [46]:
year_mar_20_df[year_mar_20_df.isna().any(axis=1)]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender, trip_in_hours]
Index: []

In [16]:
sample_mar_20_df=year_mar_20_df.sample(frac=0.05, random_state=1).reset_index()
sample_mar_20_df

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_in_hours
0,501316,695,2020-03-10 19:32:52.3490,2020-03-10 19:44:27.8670,486,Broadway & W 29 St,40.746201,-73.988557,3711,E 13 St & Avenue A,40.729667,-73.980680,41721,Subscriber,1990,1,11.583333
1,668571,356,2020-03-14 08:44:40.8290,2020-03-14 08:50:37.0240,3016,Kent Ave & N 7 St,40.720368,-73.961651,3110,Meserole Ave & Manhattan Ave,40.727086,-73.952991,34017,Subscriber,1976,2,5.933333
2,686460,1535,2020-03-14 14:40:34.4010,2020-03-14 15:06:09.8610,3354,3 St & Prospect Park West,40.668132,-73.973638,3604,Rogers Ave & Sterling St,40.663062,-73.953875,35167,Subscriber,1963,1,25.583333
3,382493,1600,2020-03-09 08:00:53.5140,2020-03-09 08:27:34.0520,2003,1 Ave & E 18 St,40.733812,-73.980544,478,11 Ave & W 41 St,40.760301,-73.998842,41380,Subscriber,1983,1,26.666667
4,277640,2246,2020-03-06 12:38:04.8730,2020-03-06 13:15:31.3430,3566,Crescent St & 35 Ave,40.759628,-73.932145,3163,Central Park West & W 68 St,40.773407,-73.977825,41662,Customer,1992,2,37.433333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48378,680269,925,2020-03-14 13:15:52.3170,2020-03-14 13:31:17.4390,328,Watts St & Greenwich St,40.724055,-74.009660,237,E 11 St & 2 Ave,40.730473,-73.986724,30951,Subscriber,1995,1,15.416667
48379,228294,399,2020-03-05 15:21:32.7670,2020-03-05 15:28:12.4270,376,John St & William St,40.708621,-74.007222,3786,Division St & Bowery,40.714193,-73.996732,29360,Subscriber,1977,2,6.650000
48380,152623,781,2020-03-04 09:06:45.0070,2020-03-04 09:19:46.3060,3707,Lexington Ave & E 26 St,40.741459,-73.983293,377,6 Ave & Canal St,40.722438,-74.005664,28677,Subscriber,1993,1,13.016667
48381,246105,453,2020-03-05 18:55:47.0260,2020-03-05 19:03:20.7760,493,W 45 St & 6 Ave,40.756800,-73.982912,3699,W 50 St & 9 Ave,40.763605,-73.989180,32789,Subscriber,1994,1,7.550000
48382,929770,1150,2020-03-22 17:21:16.4580,2020-03-22 17:40:27.1280,247,Perry St & Bleecker St,40.735354,-74.004831,3746,6 Ave & Broome St,40.724308,-74.004730,20149,Subscriber,1989,2,19.166667

In [17]:
sample_mar_20_df.to_csv("output_data/citibike_nyc_df_mar_20.csv")

## March 2019 Data

In [18]:
citibike_mar_19_df = pd.read_csv("data/201903-citibike-tripdata.csv", low_memory=False)
pd.set_option('display.max_columns', None)

In [19]:
year_mar_19_df=citibike_mar_19_df.loc[(citibike_mar_19_df['birth year'] !=1970) & (citibike_mar_19_df["gender"] !=0)]
year_mar_19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [20]:
year_mar_19_df["trip_in_hours"] = year_mar_19_df["tripduration"] / 60

<ipython-input-20-61471b4b048d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_mar_19_df["trip_in_hours"] = year_mar_19_df["tripduration"] / 60

In [29]:
pd.to_datetime(year_mar_19_df['starttime'])
pd.to_datetime(year_mar_19_df['stoptime'])

0         2019-03-01 00:24:39.388
1         2019-03-01 00:05:18.183
2         2019-03-01 00:12:14.309
3         2019-03-01 00:08:23.751
4         2019-03-01 00:49:42.381
                    ...
1327955   2019-04-01 00:05:21.785
1327956   2019-04-01 00:32:18.692
1327957   2019-04-01 00:08:25.833
1327958   2019-04-01 00:10:57.376
1327959   2019-04-01 00:02:10.592
Name: stoptime, Length: 1232041, dtype: datetime64[ns]

In [30]:
sample_mar_19_df.dtypes

index                        int64
tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
trip_in_hours              float64
dtype: object

In [36]:
sample_mar_19_df['start station id'].dropna(how='all')

0         500.0
1         528.0
2         280.0
3        3323.0
4        3223.0
          ...
61597    3496.0
61598     317.0
61599    3144.0
61600     405.0
61601     312.0
Name: start station id, Length: 61601, dtype: float64

In [37]:
sample_mar_19_df['end station id'].dropna(how='all')

0         490.0
1         435.0
2         545.0
3         478.0
4        3116.0
          ...
61597    3296.0
61598     336.0
61599      72.0
61600    3255.0
61601     229.0
Name: end station id, Length: 61601, dtype: float64

In [39]:
sample_mar_19_df[sample_mar_19_df['end station id'].isnull()]

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_in_hours
40041,31112,3417,2019-03-02 08:49:25.9320,2019-03-02 09:46:23.7310,NaN,NaN,40.863,-73.902,NaN,NaN,40.863,-73.905,34536,Customer,2000,1,56.95

In [47]:
year_mar_19_df[year_mar_19_df.isna().any(axis=1)]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_in_hours
366,1761,2019-03-01 02:06:55.1320,2019-03-01 02:36:16.9330,NaN,NaN,40.860,-73.884,NaN,NaN,40.857,-73.881,34536,Subscriber,1992,1,29.350000
403,404,2019-03-01 02:42:26.5300,2019-03-01 02:49:11.3250,NaN,NaN,40.857,-73.881,NaN,NaN,40.857,-73.890,34536,Subscriber,1992,1,6.733333
407,1278,2019-03-01 02:51:08.8280,2019-03-01 03:12:27.1280,NaN,NaN,40.857,-73.887,NaN,NaN,40.857,-73.881,34536,Subscriber,1992,1,21.300000
431,1383,2019-03-01 03:14:11.5320,2019-03-01 03:37:15.0890,NaN,NaN,40.857,-73.881,NaN,NaN,40.863,-73.905,34536,Subscriber,1992,1,23.050000
448,1944,2019-03-01 03:40:22.6890,2019-03-01 04:12:46.9300,NaN,NaN,40.863,-73.905,NaN,NaN,40.863,-73.902,34536,Subscriber,1992,1,32.400000
31112,3417,2019-03-02 08:49:25.9320,2019-03-02 09:46:23.7310,NaN,NaN,40.863,-73.902,NaN,NaN,40.863,-73.905,34536,Customer,2000,1,56.950000
1122114,1895,2019-03-28 08:59:43.4350,2019-03-28 09:31:18.7290,NaN,NaN,40.851,-73.893,NaN,NaN,40.848,-73.896,34628,Customer,1976,1,31.583333
1126000,220,2019-03-28 09:52:31.7300,2019-03-28 09:56:11.8300,NaN,NaN,40.848,-73.896,NaN,NaN,40.848,-73.893,34628,Customer,1976,1,3.666667
1208591,501,2019-03-29 17:23:34.4680,2019-03-29 17:31:56.1350,NaN,NaN,40.854,-73.893,NaN,NaN,40.851,-73.899,34892,Subscriber,1988,1,8.350000
1217027,851,2019-03-29 18:45:57.3320,2019-03-29 19:00:08.4960,NaN,NaN,40.845,-73.893,NaN,NaN,40.857,-73.893,34628,Customer,1990,1,14.183333

In [49]:
year_mar_19_df = year_mar_19_df.dropna()

In [50]:
year_mar_19_df[year_mar_19_df.isna().any(axis=1)]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender, trip_in_hours]
Index: []

In [41]:
sample_mar_19_df['start station id'] = sample_mar_19_df['start station id'].apply(np.int64)
sample_mar_19_df['end station id'] = sample_mar_19_df['end station id'].apply(np.int64)

<ipython-input-41-be6b3e86c558>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_mar_19_df['start station id'] = sample_mar_19_df['start station id'].apply(np.int64)
<ipython-input-41-be6b3e86c558>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_mar_19_df['end station id'] = sample_mar_19_df['end station id'].apply(np.int64)

## March 2021 Data

In [42]:
sample_mar_19_df=year_mar_19_df.sample(frac=0.05, random_state=1).reset_index()
sample_mar_19_df

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,trip_in_hours
0,8942,514,2019-03-01 12:07:07.7560,2019-03-01 12:15:42.3200,500.0,Broadway & W 51 St,40.762288,-73.983362,490.0,8 Ave & W 33 St,40.751551,-73.993934,27920,Subscriber,1974,1,8.566667
1,97621,492,2019-03-04 20:43:23.9490,2019-03-04 20:51:36.4700,528.0,2 Ave & E 31 St,40.742909,-73.977061,435.0,W 21 St & 6 Ave,40.741740,-73.994156,32968,Subscriber,1991,1,8.200000
2,798356,565,2019-03-20 20:22:11.8840,2019-03-20 20:31:37.5390,280.0,E 10 St & 5 Ave,40.733320,-73.995101,545.0,E 23 St & 1 Ave,40.736502,-73.978095,15922,Subscriber,1982,1,9.416667
3,792370,52964,2019-03-20 18:41:38.7060,2019-03-21 09:24:23.2180,3323.0,W 106 St & Central Park West,40.798186,-73.960591,478.0,11 Ave & W 41 St,40.760301,-73.998842,18663,Customer,1987,1,882.733333
4,550789,1627,2019-03-15 17:18:52.8450,2019-03-15 17:46:00.3250,3223.0,E 55 St & 3 Ave,40.758997,-73.968654,3116.0,Huron St & Franklin St,40.732660,-73.958260,29966,Subscriber,1975,1,27.116667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61597,365951,441,2019-03-12 08:47:31.4130,2019-03-12 08:54:52.4400,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3296.0,E 93 St & 2 Ave,40.782454,-73.948920,28208,Subscriber,1977,1,7.350000
61598,606579,655,2019-03-16 19:30:48.4800,2019-03-16 19:41:44.1890,317.0,E 6 St & Avenue B,40.724537,-73.981854,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,28734,Subscriber,1985,1,10.916667
61599,149723,1468,2019-03-06 11:37:12.7740,2019-03-06 12:01:41.7290,3144.0,E 81 St & Park Ave,40.776777,-73.959010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,27551,Subscriber,1962,1,24.466667
61600,1037132,696,2019-03-26 17:34:57.9880,2019-03-26 17:46:34.7180,405.0,Washington St & Gansevoort St,40.739323,-74.008119,3255.0,8 Ave & W 31 St,40.750585,-73.994685,34153,Subscriber,1951,1,11.600000
61601,1162202,233,2019-03-28 19:50:32.6540,2019-03-28 19:54:26.3630,312.0,Allen St & Stanton St,40.722055,-73.989111,229.0,Great Jones St,40.727434,-73.993790,32357,Subscriber,1990,1,3.883333

In [23]:
sample_mar_19_df.to_csv("output_data/citibike_nyc_df_mar_19.csv")

In [32]:
sample_mar_19_df.dtypes

index                        int64
tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
trip_in_hours              float64
dtype: object

In [33]:
sample_mar_20_df.dtypes

index                        int64
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
trip_in_hours              float64
dtype: object

In [34]:
sample_mar_21_df.dtypes

index                        int64
tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
trip_in_hours              float64
dtype: object

In [24]:
# citibike_nyc_df["tripduration_datetime"] = pd.to_datetime(citibike_nyc_df["tripduration"], unit="m")